

<main>
    <slot />
</main>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

    main :global(a) {
        color: rgb(var(--accent));
        text-decoration: none;
    }

    main :global(a:hover) {
        color: rgb(var(--accent-light));
    }
</style>